@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
:root {
  --laranja: rgb(255, 122, 0);
  --blue: rgb(0, 8, 20);
  --prata: rgb(192, 192, 192);
  --fontInter : 'Inter', sans-serif;
}