@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --laranja: rgb(255, 122, 0);
  --blue: rgb(0, 8, 20);
  --prata: rgb(192, 192, 192);
  --fontInter: "Inter", sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-size: 1.6rem;
  background-color: var(--blue);
  
  color: white;
  font-family: var(--fontInter);
}

.page {
  max-width: 50rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 2rem;
}

.hide {
  display: none;
}

.container-card {
  position: relative;
  
  max-width: 28rem;
}

.container-card svg{
  display: block;
  width: 100%;
  height: 100%s;
}

#nameCard {
  position: absolute;
  top: 2rem;
  left: 45%;

  writing-mode:vertical-rl;
  font-size: 1.4rem;
}

#cardBack {
  position: relative;
}

.infoBack {
  position: absolute;
  top: 5rem;
  right: 20%;
  writing-mode: vertical-rl;
}

.infoBack > h2 {
  font-size: 1.24rem;
  font-weight: 500;
  margin-left: 2rem;
}

.gridInfoBack  {
  display: grid;
  grid-template-areas: 
  "agen account"
  "cod valid"
  ;
  grid-template-columns: 1fr 2fr;
  gap: .8rem ;
}

.infoBack h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

.gridInfoBack p {
font-size: 1.3rem;
font-weight: 500;
}

#agen {
  grid-area: agen;
}

#account {
  grid-area: account;
}

#cod {
  grid-area: cod;
}

#valid {
  grid-area: valid;
}

form {
  position: relative;

  width: 100%;
  max-width: 28rem;
  height: 18rem;
  padding: 1.5rem;

  border-radius: 10px;
  border: 1px solid var(--laranja);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  font-family: var(--fontInter);
  font-weight: 400;
  font-size: 1rem;
}

.input-wrapper {
  position: relative;

  width: 100%;
}

#formName,
#formNumber {
  width: 70%;
}

.input-wrapper input {
  border: none;
  border-radius: 5px;
  border: 1px solid var(--laranja);
  outline: none;

  background-color: transparent;

  height: 2.7rem;
  width: 100%;
  padding-left: 1rem;

  font-size: 1.1rem;
  font-weight: 200;

  color: white;

  appearance: none;
  -webkit-appearence: none;
}

.input-wrapper input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

label {
  position: absolute;

  pointer-events: none;

  transform: translateY(-50%);
  top: 50%;
  left: 0.8rem;

  color: var(--prata);

  transition: .2s;
}

input:focus ~ label {
  transform: translateY(-20px);
  background-color: var(--blue);

  padding-inline: 2px;
}

input:valid ~ label {
  transform: translateY(-20px);
  background-color: var(--blue);

  padding-inline: 2px;
}

article.cont-datas {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 15px;
  grid-template-areas:
    "box-agen box-acc"
    "box-cod box-valid";
}

.box-agen {
  grid-area: box-agen;
}

.box-acc {
  grid-area: box-acc;
}

.box-cod {
  grid-area: box-cod;
}

.box-valid {
  grid-area: box-valid;
}

@media (min-width:800px) {


}