@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --laranja: rgb(255, 122, 0);
  --blue: rgb(0, 8, 20);
  --prata: rgb(192, 192, 192);
  --fontInter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--blue);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1.6rem;
}

.top,
.bottom {
  height: 50%;
}

.container-card {
  max-width: 300px;
  height: 175px;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: absolute;

  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: all 0.5s;
}

.card:hover {
  transform: rotateX(180deg);
}

.card-front {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 10px;

  backface-visibility: hidden;

  background-color: var(--laranja);

  border-radius: 10px;

  display: flex;

  flex-direction: row-reverse;
  justify-content: space-between;
}

.container-logos-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-inter {
  width: 50%;
}

.logo-master-r-y {
  width: 85%;
}

h1 {
  writing-mode: vertical-lr;
  font-size: 1.4rem;
  font-family: var(--fontInter);
  color: white;
  font-weight: 400;
}

.container-aprox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-aprox img {
  position: relative;
  top: 90px;
  right: 20px;

  scale: 0.9;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;

  transform: rotateX(180deg);

  background-color: var(--laranja);

  border-radius: 10px;
}

.rect-gray {
  position: relative;

  background-color: var(--prata);

  width: 100%;
  height: 20%;
  margin-top: 10px;
}

.right-back {
  width: 100%;
  height: calc(80% - 10px);
  padding: 10px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  font-family: var(--fontInter);
  color: white;
}

h3 {
  align-self: flex-end;
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  font-weight: 500;
}

#number {
  writing-mode: vertical-lr;
  font-size: 0.96rem;
  font-weight: 500;
}

.container-datas {
  writing-mode: vertical-rl;

  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 45px 1fr;
  grid-template-areas:
    "agen account"
    "cod valid";
}

.container-datas p {
  font-size: 1rem;
}

.container-datas h2 {
  font-size: 1rem;
  font-weight: 500;
}

.container-agen {
  grid-area: agen;
}

.container-account {
  grid-area: account;
}

.container-cod {
  grid-area: cod;
}
.container-valid {
  grid-area: valid;
}

.container-logos-back {
  display: grid;
  column-gap: 10px;
  grid-template-areas:
    "qr ."
    "symbol mast-cirr";
}

.qr-code {
  grid-area: qr;
  align-self: center;
}

.master-siymbol {
  grid-area: symbol;
  align-self: end;
}

.master-cirrus {
  grid-area: mast-cirr;
  align-self: end;
}

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 300px;
  height: 175px;
  padding: 15px;

  border-radius: 10px;
  border: 1px solid var(--laranja);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  font-family: var(--fontInter);
  font-weight: 400;
  font-size: 1rem;
}

.input-wrapper {
  position: relative;

  width: 100%;
}

#formName,
#formNumber {
  width: 70%;
}

.input-wrapper input {
  border: none;
  border-radius: 5px;
  border: 1px solid var(--laranja);
  outline: none;

  background-color: transparent;

  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;

  font-size: 1.1rem;
  font-weight: 200;

  color: white;

  appearance: none;
  -webkit-appearence: none;
}

.input-wrapper input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

label {
  position: absolute;

  pointer-events: none;

  transform: translateY(-50%);
  top: 50%;
  left: 0.8rem;

  color: var(--prata);

  transition: .2s;
}

input:focus ~ label {
  transform: translateY(-20px);
  background-color: var(--blue);

  padding-inline: 2px;
}

input:valid ~ label {
  transform: translateY(-20px);
  background-color: var(--blue);

  padding-inline: 2px;
}

article.cont-datas {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 15px;
  grid-template-areas:
    "box-agen box-acc"
    "box-cod box-valid";
}

.box-agen {
  grid-area: box-agen;
}

.box-acc {
  grid-area: box-acc;
}

.box-cod {
  grid-area: box-cod;
}

.box-valid {
  grid-area: box-valid;
}
